{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #146A34;
        font-size: 36px;
        margin-top: 50px;
    }

    p {
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    .restaurant-options {
        text-align: center;
        margin-top: 50px;
    }

    .restaurant-option {
        display: inline-block;
        margin: 0 20px;
    }

    .restaurant-option img {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
</style>

<h1>Welcome to Wingstopfreefries.xyz!</h1>

<p>Select a restaurant below to get a coupon code to include with your order:</p>

<div class="restaurant-options">
    <div class="restaurant-option">
        <a href="/wingstop">
            <img src="{{ url_for('static', filename='wingstoplogo.png') }}" alt="Wingstop">
            <p>Wingstop</p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/rubios">
            <img src="{{ url_for('static', filename='rubioslogo.png') }}" alt="Rubio's">
            <p>Rubio's</p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/pandaexpress">
            <img src="{{ url_for('static', filename='pandaexpresslogo.png') }}" alt="Panda Express">
            <p>Panda Express</p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/blazepizza">
            <img src="{{ url_for('static', filename='blazepizzalogo.png') }}" alt="Blaze Pizza">
            <p>Blaze Pizza</p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/wingstoplightning">
            <img src="{{ url_for('static', filename='wingstoplightninglogo.png') }}" alt="Wingstop Lightning">
            <p>Wingstop Lightning</p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/pandalightning">
            <img src="{{ url_for('static', filename='pandalightninglogo.png') }}" alt="Panda Express Lightning">
            <p>Panda Express Lightning</p>
        </a>
    </div>
</div>

{% endblock %}