{% extends "base.html" %}

{% block content %}
<style>
    /* Apply Lexend font style with a weight of 400 */
    body {
        background-color: #f5f5f5;
        font-family: 'Lexend', serif;
        font-weight: 400;
    }

    h1 {
        text-align: center;
        color: #146A34;
        font-size: 36px;
        margin-top: 50px;
    }

    p {
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    .restaurant-options {
        text-align: center;
        margin-top: 50px;
    }

    .restaurant-option {
        display: inline-block;
        margin: 0 20px;
    }

    .restaurant-option img {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
</style>

<!-- Link to load Lexend font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<h1>Welcome to Wingstopfreefries.xyz!</h1>

<p>Select a restaurant below to get a coupon code to include with your order (hopefully I didn't break anything):</p>

<div class="restaurant-options">
    <div class="restaurant-option">
        <a href="/wingstoplightningaf">
            <img src="{{ url_for('static', filename='wingstoplogo.png') }}" alt="Wingstop Lightning">
            <p>Wingstop </p>
        </a>
    </div>
    <div class="restaurant-option">
        <a href="/pandalightningaf">
            <img src="{{ url_for('static', filename='pandaexpresslogo.png') }}" alt="Panda Express Lightning">
            <p>Panda Express </p>
        </a>
    </div>
    
    <div class="restaurant-option">
        <a href="/rubiosaf">
            <img src="{{ url_for('static', filename='rubioslogo.png') }}" alt="Rubio's">
            <p>Rubio's</p>
        </a>
    </div>
    
    <div class="restaurant-option">
        <a href="/blazepizzaaf">
            <img src="{{ url_for('static', filename='blazepizzalogo.png') }}" alt="Blaze Pizza">
            <p>Blaze Pizza</p>
        </a>
    </div>
</div>

{% endblock %}
