{% extends "base.html" %}

{% block content %}

<h1>Wingstop Survey</h1>
<p>Enter your email:</p>
<form action="/submit" method="POST" onsubmit="return showLoading();">
    <input type="hidden" name="option" value="wingstop">
    <input type="email" name="email" required>
    <input type="submit" value="Submit">
</form>
<div id="loading" style="display: none; text-align: center;">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." style="width: 100px; height: 100px;">
</div>
<script>
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('email').disabled = true;
    }
</script>
{% endblock %}