{% extends "base.html" %}

{% block content %}
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 36px;
            margin-top: 50px;
        }

        p {
            text-align: center;
            color: #333;
            font-size: 18px;
        }

        .result-container {
            text-align: center;
            margin-top: 20px;
        }

        .result {
            color: #146A34;
            font-size: 24px;
        }

        .run-again {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }

        .run-again:hover {
            background-color: #201f1f;
        }

        .disclaimer {
            color: #D3D3D3;
            font-size: 15px;
            margin-top: 23px;
            font-weight: bold;
        }

        /* Tip styles */
        .tip-container {
            margin-top: 10px;
            /* Adjusted margin to move it down */
        }

        .tip-text {
            color: #FF8000;
            font-size: 16px;
            font-weight: bold;
        }

        table {
            margin: auto;
        }
    </style>

    <h1>Result:</h1>

    <div class="result-container">
        <table bgcolor="#f8f7ee" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <a href="https://www.pandaexpress.com" style="border: 0; text-decoration: none; color: rgba(209, 40, 46, 1)">
                                            <img alt="THANK YOU for your feedback!" border="0" height="160" src="https://www.pandaguestexperience.com/Projects/PRG2_CSI/images/emailer/smg-px-hero-ty-01.png" width="600">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <div style="background-color: rgba(255, 255, 255, 1); display: none; font-family: Arial, Helvetica, sans-serif; color: rgba(255, 255, 255, 1); font-size: 0; height: 0; line-height: 0; padding: 0; text-align: center">
                                            <a href="#" style="border: 0; text-decoration: none; color: rgba(209, 40, 46, 1)">
                                                <img alt="THANK YOU for your feedback!" height="auto" src="https://www.pandaguestexperience.com/Projects/PRG2_CSI/images/emailer/smg-px-hero-ty-02.png" width="320">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="40"> </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <tr>
                                                                                        <td align="center">
                                                                                            <img alt="Present this barcode at your next in-store purchase" src="https://www.pandaguestexperience.com/Common/controls/IDAutomation/Barcode.aspx?D={{ code }}&amp;LM=.25&amp;TM=0&amp;ST=F" width="200">
                                                                                        </td>
                                                                                        
                                                                                    </tr>
                                                                                    
                                                                                        <td valign="top" align="center" >
                                                                                            <span style="font-family: &quot;Montserrat&quot;, Arial, sans-serif !important">{{ code }}</span>
                                                                                        </td>
                                                                                    
                                                                                
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td>
                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <img alt="" src="https://www.pandaguestexperience.com/Projects/PRG2_CSI/images/emailer/smg-px-coupon-d.png" width="263">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <span style="font-family: &quot;Gotham&quot;, &quot;Montserrat&quot;, Arial, sans-serif !important">
                                                            Offer will expire on {{ safeexpiredate }}. This coupon code is good for one-time use only and is limited to one coupon code per order. Valid only at participating locations and online at PandaExpress.com or on the Panda Express app.  No additional charge for premium entrée. Delivery, tax and other fees still apply. Cannot be combined with any other offer, discount, or promotion. Cash value of 1/100 cent. Panda Restaurant Group, Inc. reserves the right to modify or discontinue the offer at any time and additional restrictions may apply.
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table bgcolor="#f8f7ee" border="0" cellpadding="0" cellspacing="0" width="600">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
