{% extends "base.html" %}

{% block content %}
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 36px;
            margin-top: 50px;
        }

        p {
            text-align: center;
            color: #333;
            font-size: 18px;
        }

        .result-container {
            text-align: center;
            margin-top: 20px;
        }

        .result {
            color: #146A34;
            font-size: 24px;
        }

        .run-again {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }

        .run-again:hover {
            background-color: #201f1f;
        }

        .disclaimer {
            color: #D3D3D3;
            font-size: 15px;
            margin-top: 23px;
            font-weight: bold;
        }

        /* Tip styles */
        .tip-container {
            margin-top: 10px;
            /* Adjusted margin to move it down */
        }

        .tip-text {
            color: #FF8000;
            font-size: 16px;
            font-weight: bold;
        }

        table {
            margin: auto;
        }
        .feedback-box {
            margin-top: 20px;
            padding: 10px;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px; /* Adjust width as needed */
            margin: auto; /* Center the box */
            margin-top: 50px;
        }

        .feedback-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            resize: vertical;
        }

        .feedback-button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }

        .feedback-button:hover {
            background-color: #201f1f;
        }
        .result-container {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Allow the container to take the full width */
    max-width: 100%; /* Ensure it does not exceed the screen width */
    padding: 0 15px; /* Add padding for small screens */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.result-container table {
    width: 100%; /* Make tables take full width of the container */
    max-width: 600px; /* Limit the maximum width */
    margin: 0 auto; /* Center the tables */
}

.result-content {
    display: flex; /* Use flexbox for side-by-side layout */
    justify-content: center; /* Center the content */
    align-items: center; /* Center the items vertically */
    gap: 20px; /* Gap between the left and right content */
    flex-wrap: nowrap; /* Prevent wrapping */
    max-width: 600px; /* Limit the overall width */
    margin: 0 auto; /* Center the result content */
}

.result-content img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    max-width: 100%; /* Ensure it fits within its container */
    display: block; /* Remove any inline spacing */
    margin: 0 auto; /* Center the image */
}

.barcode-container {
    display: flex; /* Flexbox to align barcode and image side by side */
    justify-content: space-between; /* Spacing between elements */
    align-items: center; /* Center items vertically */
    flex-wrap: nowrap; /* No wrapping */
    margin-top: 20px;
    gap: 20px; /* Gap between elements */
    max-width: 600px; /* Limit width of barcode container */
    margin: 0 auto; /* Center the barcode container */
}

.barcode-container .barcode {
    width: 100%; /* Allow barcode container to take full width */
    max-width: 200px; /* Constrain the width */
    text-align: center; /* Center align barcode */
    margin: 0 auto; /* Center within container */
    flex-shrink: 0; /* Prevent the barcode section from shrinking */
}

.barcode-container .coupon-image {
    flex: 1; /* Allow the image to grow to fill available space */
    max-width: 300px; /* Adjust the width for the coupon image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image */
    object-fit: contain; /* Contain the image without distortion */
}
 /* Notification box styling */
 .copy-notification-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #18181b;
        color: #fff;
        padding: 15px 30px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        opacity: 1;
        transition: opacity 1s ease-out, top 1s ease-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for a box effect */
        z-index: 9999;
    }

    /* Fade-out class for smooth transition */
    .fade-out {
        opacity: 0;
        top: 45%; /* Move the box upwards slightly when fading */
    }
  
    </style>
<h1>Result:</h1>
<p class="tip-text">Online Tip: Add coupon items Separately to your cart before applying the code.</p>


  <p class="tip-text">If you want to save or share this coupon. <a  class = "tip-text" href="#" onclick="copyLink(event)">Copy the Link</a></p>

<div class="result-container">
    <div class="result-container">
        <table bgcolor="#f8f7ee" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0" class="result-content">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <a href="https://www.pandaexpress.com" style="border: 0; text-decoration: none; color: rgba(209, 40, 46, 1)">
                                            <img alt="THANK YOU for your feedback!" src="https://www.pandaguestexperience.com/Projects/PRG2_CSI/images/emailer/smg-px-hero-ty-01.png" width="600" class="responsive-image">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <div style="background-color: rgba(255, 255, 255, 1); display: none; font-family: Arial, Helvetica, sans-serif; color: rgba(255, 255, 255, 1); font-size: 0; height: 0; line-height: 0; padding: 0; text-align: center">
                                            <a href="#" style="border: 0; text-decoration: none; color: rgba(209, 40, 46, 1)">
                                                <img alt="THANK YOU for your feedback!" src="https://www.pandaguestexperience.com/Projects/PRG2_CSI/images/emailer/smg-px-hero-ty-02.png" width="320" class="responsive-image">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="barcode-container">
                                                        <!-- Left: Barcode and Code -->
                                                        <div class="barcode">
                                                            <img alt="Present this barcode at your next in-store purchase" src="https://www.pandaguestexperience.com/Common/controls/IDAutomation/Barcode.aspx?D={{ code }}&amp;LM=.25&amp;TM=0&amp;ST=F">
                                                            <span style="font-family: 'Montserrat', Arial, sans-serif; cursor: pointer;" id="coupon-code" onclick="copyCode()">
                                                                <strong>{{ code }}</strong>
                                                            </span>
                                                        </div>
                                                        
                                                        <!-- Copied notification with a box -->
                                                        <div id="copy-notification" class="copy-notification-box" style="display: none;">Copied!</div>
                                                        
                                                        
                                                      
                                                        <p style="color: #d1282e;">
                                                            <strong style="font-size: 25px;">FREE SMALL ENTRÉE</strong> <br> <strong style="font-size: 14px;">WITH PURCHASE OF 2-ENTRÉE PLATE</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <span style="font-family: &quot;Gotham&quot;, &quot;Montserrat&quot;, Arial, sans-serif !important">
                                                            Offer will expire on <strong>{{ safeexpiredate }}</strong>. This coupon code is good for one-time use only and is limited to one coupon code per order. Valid only at participating locations and online at PandaExpress.com or on the Panda Express app. <strong>No additional charge for premium entrée.</strong>  Delivery, tax and other fees still apply. Cannot be combined with any other offer, discount, or promotion. Cash value of 1/100 cent. Panda Restaurant Group, Inc. reserves the right to modify or discontinue the offer at any time and additional restrictions may apply.
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table bgcolor="#f8f7ee" border="0" cellpadding="0" cellspacing="0" width="600">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="feedback-box">
        <h2>Feedback</h2>
        <textarea class="feedback-input" id="feedback-text" placeholder=""></textarea>
        <button class="feedback-button" onclick="sendFeedback()">Send</button>
    </div>
</div>

<script>
    function sendFeedback() {
        // Get the feedback text
        var feedbackText = document.getElementById('feedback-text').value;
        
        // Send a POST request to /sendfeedback with the feedback data
        fetch('/sendfeedback', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ feedback: feedbackText })
        })
        .then(response => {
            if (response.ok) {
                console.log('Feedback sent successfully');
                // Hide the feedback box after sending feedback
                document.querySelector('.feedback-box').style.display = 'none';
            } else {
                console.error('Failed to send feedback');
                // Handle error if needed
            }
        })
        .catch(error => {
            console.error('Error sending feedback:', error);
            // Handle error if needed
        });
    }
</script>
    <script>
        function copyLink(event) {
            event.preventDefault(); // Prevent the default behavior of the link
            // Get the current URL
            var url = window.location.href;

            // Copy the URL to the clipboard
            navigator.clipboard.writeText(url)
                .then(function() {
                    // Provide feedback to the user
                    console.log("Link copied to clipboard: " + url);
                })
                .catch(function(error) {
                    // Handle any errors
                    console.error("Unable to copy link: ", error);
                });
        }

        function copyCode() {
        // Get the code text
        var couponCode = document.getElementById('coupon-code').innerText;

        // Copy the code to the clipboard
        navigator.clipboard.writeText(couponCode)
            .then(function() {
                // Show the "Copied" message box
                var notification = document.getElementById('copy-notification');
                notification.style.display = 'block';

                // Trigger fade-out effect after a short delay
                setTimeout(function() {
                    notification.classList.add('fade-out');
                }, 500);  // Delay before fading out (in milliseconds)

                // Hide the message after it fades out
                setTimeout(function() {
                    notification.style.display = 'none';
                    notification.classList.remove('fade-out'); // Reset for the next time
                }, 800);  // Time to remove after fade out (in milliseconds)
            })
            .catch(function(error) {
                console.error('Unable to copy coupon code:', error);
            });
    }
    </script>

{% endblock %}
