{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #C02827 ;
        font-size: 36px;
        margin-top: 50px;
    }

    p {
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    form {
        text-align: center;
        margin-top: 20px;
    }

    input[type="any"] {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    input[type="submit"] {
        background-color: #C02827 ;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #842b2b ;
    }

    #loading {
        text-align: center;
        display: none;
        margin-top: 20px;
    }

    #loading img {
        width: 100px;
        height: 100px;
    }
    .site-downs-note {
            position: fixed;
            bottom: 350px;
            left: 50%;
            transform: translateX(-50%);
            background-color: red;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
</style>

<h1>⚡⚡[BETA] Panda Express Lightning Mode ⚡⚡</h1>
<p>Coupon for a Free Small Entrée with purchase of a 2-entrée Plate</p>
<p>Coupons Left:<strong> {{panda_coupon_count}} </strong> (auto-restocks everyday)</p>
{% if panda_coupon_count > 0 %}
    <form action="/pandalightningsubmit" method="POST" onsubmit="return showLoading();">
        <input type="hidden" name="option" value="pandaexpress">
        <input type="any" name="email" placeholder="Email">
        <input type="submit" value="Generate">
{% else %}
<p style="margin-top: 50px;">
    <strong>Sorry, no coupons left at the moment. Use the Manual Version<br>
    Will auto-restock every 24hrs</strong>
</p>

{% endif %}


<div id="loading">
    <img src="{{ url_for('static', filename='bgloading.gif') }}" alt="Loading...">
</div>

<div class="site-downs-note">
    Currently in Beta testing. But this should generate a valid coupon code/barcode for you to scan in O(1) time. You should also use the manual version before, in case the coupon is invalid
</div>



<script>
    function showLoading() {
        
        document.getElementById('loading').style.display = 'block';
        document.querySelector('input[type="submit"]').disabled = true;
    }
</script>
{% endblock %}