{% extends "base.html" %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com"> 
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

 <!-- Custom CSS -->
 <style>
     
     body {
         background-color: #f5f5f5;
         font-family: "Lexend", sans-serif; /* Applied Lexend font */
     }
  
    h1 {
        text-align: center;
        color: #333;
        font-size: 36px;
        margin-top: 50px;
    }

    p {
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    .result-container {
        text-align: center;
        margin-top: 20px;
    }

    .result {
        color: #146A34;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .run-again {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

    .run-again:hover {
        color: white;
        background-color: #201f1f;
    }

    .disclaimer {
        color: #D3D3D3;
        font-size: 15px;
        margin-top: 23px;
        font-weight: bold;
    }

    /* Tip styles */
    .tip-container {
        margin-top: 10px;
    }

    .tip-text {
        color: #FF8000;
        font-size: 16px;
        font-weight: bold;
    }
</style>

<h1>Statistics:</h1>
<div class="result-container">


    <p class="result">Total Uses: {{ uses }}</p>     
    <p class="result">Total Amount Saved: ${{ money_saved }}</p>


    <a class="run-again" href="/">Return Home</a>

    <p class="disclaimer">Updating live since December 2023</p>
</div>

{% endblock %}