<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>The End</title>
  </head>
  <body
    bgcolor="#141414"
    class="vsc-initialized"
    data-new-gr-c-s-check-loaded="14.1229.0"
    data-gr-ext-installed=""
  >
    <h2>
      As of April 1st 2025, the WingstopFreeFries website and service has been
      officially discontinued.
    </h2>

    <p>
      Click <a href="/announcement">here</a> to read the original announcement.
      Thank you all for using the site, sharing it with friends, and saving
      money on fries and more. It’s been an incredible run. <br />
      Please check the F.A.Q. in the announcement for any questions you might
      have as well as my contact information.
    </p>

    <p style="color: skyblue">
      <b
        >~ J.T.
        <a
          href="mailto:foodsurveycodes@gmail.com"
          style="color: skyblue; text-decoration: none"
          >(foodsurveycodes@gmail.com)</a
        
      >
    </p>

    <p></p>

    <h3>Important Updates by Date:</h3>

    <p></p>

    <table>
      <tbody>
        <tr>
          <td>April 1 2025</td>
          <td>Final <a href="/announcement">Announcement</a> Posted</td>
        </tr>
        <tr>
          <td>April 1 2025</td>
          <td>
            WingstopFreeFries has been officially discontinued. Site access is
            now read-only
          </td>
        </tr>
      </tbody>
    </table>
    <p style="color: #141414; font-size: 5em">
      just kidding april fools! Access the site 
      <a href="/af" style="color: #141414;">here</a>
    </p>
    <style type="text/css">
      a {
        color: #9999ff;
      }
      a:hover {
        color: #bbbbff;
      }
      body {
        color: white;
        font: 20px "Myriad Pro";
      }
      table,
      td {
        border: 1px solid gray;
        border-collapse: collapse;
      }
      td {
        padding: 10px;
      }
    </style>
  </body>
</html>
