{% extends "base.html" %}

{% block content %}
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 36px;
            margin-top: 50px;
        }

        p {
            text-align: center;
            color: #333;
            font-size: 18px;
        }

        .result-container {
            text-align: center;
            margin-top: 20px;
        }

        .result {
            color: #146A34;
            font-size: 24px;
        }

        .run-again {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }

        .run-again:hover {
            background-color: #201f1f;
        }

        .disclaimer {
            color: #D3D3D3;
            font-size: 15px;
            margin-top: 23px;
            font-weight: bold;
        }

        /* Tip styles */
        .tip-container {
            margin-top: 10px;
            /* Adjusted margin to move it down */
        }

        .tip-text {
            color: #FF8000;
            font-size: 16px;
            font-weight: bold;
        }

        table {
            margin: auto;
        }
    </style>

    <h1>Result:</h1>
    <p class="tip-text">Online Tip: Add coupon items Separately to your cart before applying the code.</p>
    <div class="result-container">
        <table bgcolor="#e5e5e5" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="550">
                <tr>
                  <td width="275" align="left" valign="top" style="padding-right: 20px;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      
        <table bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td align="center" style="font-family: sans-serif; font-size: 24px; font-weight: bold;">
              <a href="#" target="_blank" style="color: rgba(0, 0, 0, 1); text-decoration: none;">
                <img src="https://mywingstopsurvey.com/Projects/WINGS_CSI/images/emailer/smg-wingstop-invite-header.png" alt="WINGSTOP" border="0" width="550" height="103">
              </a>
            </td>
          </tr>
        </table>
      
        <table bgcolor="#ededed" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="550">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="275">
                      <tr>
                        <td align="left">
                          <table align="left" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                              <td align="center" width="100%">
                                <span style="font-weight: 800; font-size: 33px;">THANK YOU FOR YOUR FEEDBACK</span>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" width="100%">
                                <span style="font-size: 27px;">Here’s a free fry on us.</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
      
                    <table bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="275">
                      <tr>
                        <td align="center" style="font-family: sans-serif; font-size: 24px; font-weight: bold;">
                          <a href="#" target="_blank" style="color: rgba(0, 0, 0, 1); text-decoration: none;">
                            <img src="https://mywingstopsurvey.com/Projects/WINGS_CSI/images/emailer/smg-wingstop-incentive-03-bg.png" alt="" border="0" width="275">
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      
        <table bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td height="10">
            </td>
          </tr>
        </table>
      
        <table bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 32px; font-weight: bold; font-style: italic; color: rgba(0, 105, 57, 1); line-height: 100%;">
                          <p style="margin: 0;"><span style="font-weight: 800;">FREE REGULAR‑SIZE, SEASONED FRY</span></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: normal; color: rgba(181, 153, 88, 1); line-height: 140%;">
                          <p style="margin: 0;">with your next <span style="font-weight: bold; text-decoration: underline;">online purchase</span> of wings or tenders.</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: normal; color: rgba(181, 153, 88, 1); line-height: 150%;">
                          <img src="https://mywingstopsurvey.com/Projects/WINGS_CSI/images/emailer/smg-wingstop-incentive-hr-top.png" alt="" border="0" width="465" style="width: 100%; display: block;">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 17px; font-weight: bold; color: rgba(0, 105, 57, 1); line-height: 140%;">
                          <p style="margin: 0;">To redeem, add the regular seasoned fry to your order and then enter the coupon code on the payment page when you order using our mobile app or <a href="http://www.wingstop.com" style="color: rgba(0, 105, 57, 1); text-decoration: none;">wingstop.com.</a></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 14px; font-weight: 300; color: rgba(92, 92, 92, 1); line-height: 140%;">
                          <p style="margin: 0;"><span style="font-weight: bold; text-decoration: underline;">Offer is redeemable on </span><a href="http://www.wingstop.com" target="_blank" style="color: rgba(92, 92, 92, 1) !important; font-weight: bold; text-decoration: underline;"><span style="color: rgba(92, 92, 92, 1); font-weight: bold; text-decoration: underline;">wingstop.com</span></a><span style="font-weight: bold; text-decoration: underline;"> or in the Wingstop mobile app only.</span></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 17px; font-weight: bold; color: rgba(69, 69, 69, 1); line-height: 140%;">
                          <p style="margin: 0;">Code: {{code}} &nbsp;&nbsp;&nbsp;<br>Expires on {{safeexpiredate}} </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellspacing="0" cellpadding="0" border="0" align="center" width="465">
                <tr>
                  <td align="left">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="465">
                      <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: normal; color: rgba(181, 153, 88, 1); line-height: 150%;">
                          <img src="https://mywingstopsurvey.com/Projects/WINGS_CSI/images/emailer/smg-wingstop-incentive-hr-btm.png" alt="WHERE FLAVOR GETS ITS WINGS" border="0" width="465" style="width: 100%; display: block;">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      
        <table bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="550">
          <tr>
            <td height="30">
            </td>
          </tr>
        </table>
      
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="550">
          <tr>
            <td height="1">
              <img src="https://mywingstopsurvey.com/Projects/WINGS_CSI/images/emailer/itsy-spacer.gif" alt="" width="550" height="1" style="display: block; max-height: 1px; min-height: 1px; min-width: 550px; width: 550px;">
            </td>
          </tr>
        </table>
      </div>

{% endblock %}
