{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #146A34;
        font-size: 36px;
        margin-top: 50px;
    }

    p {
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    form {
        text-align: center;
        margin-top: 20px;
    }

    input[type="email"] {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    input[type="submit"] {
        background-color: #146A34;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #2d834d;
    }

    #loading {
        text-align: center;
        display: none;
        margin-top: 20px;
    }

    #loading img {
        width: 100px;
        height: 100px;
    }
</style>


<h1>Wingstop Survey</h1>
<p>Enter an email:</p>
<form onsubmit="showLoading()">
    <input type="hidden" name="option" value="wingstop">
    <input type="email" name="email" required>
    <input type="submit" value="Submit">
</form>
<div id="loading">
    <img src="{{ url_for('static', filename='bgloading.gif') }}" alt="Loading...">
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
<script>
    function showLoading() {
        event.preventDefault();
        document.getElementById('loading').style.display = 'block';
        document.querySelector('input[type="submit"]').disabled = true;
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: $('form').serialize(),
            success: function (response) {
                console.log(response);
                // Redirect to the result page
                window.location.href = '/result?result=' + response;
            }
        });
    }
</script>
{% endblock %}